* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b1220;
  color: #e5e7eb;
  height: 100vh;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #020617;
  padding: 15px;
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 15px;
}

.new-chat {
  width: 100%;
  padding: 10px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}

#chatList li {
  list-style: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 8px;
  background: #111827;
}

#chatList li.active {
  background: #1e40af;
}

/* CHAT */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 15px;
  border-bottom: 1px solid #1f2933;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.message {
  max-width: 80%;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 14px;
  line-height: 1.4;
}

.user {
  background: #2563eb;
  align-self: flex-end;
}

.ai {
  background: #111827;
  align-self: flex-start;
}

.typing {
  display: none;
  padding-left: 15px;
  font-size: 13px;
  color: #9ca3af;
}

/* INPUT */
.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #1f2933;
}

textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #020617;
  color: white;
}

button {
  margin-left: 10px;
  width: 50px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}
